<%- include('./partials/html-head') %> 
<%- include('./partials/nav') %>

<body>
  <h1><%= title %></h1>
  <a href="/flights/new">Add Flight</a>
  <br>
  <a href="/flights">All Flights</a>

<%- include('./partials/footer') %> 
