<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Add Flights</title>
</head>
<body>
  <h1>Enter a New Flight</h1>
  <form action="/flights" method="POST">
    <label><span>*</span>Airline (Southwest, American, or United):
      <input type="text" name="airport" required>
    </label><br>
    <label>Flight Number (10 to 9999):
      <input type="text" name="flightNo" required>
    </label><br>
    <label>Airport
      <select name="airport">
        <option value="DEN" selected>DEN</option>
        <option value="LAX" selected>LAX</option>
        <option value="DFW" selected>DFW</option>
        <option value="SAN" selected>SAN</option>
        <option value="AUS" selected>AUS</option>
      </select>
    </label><br>
    <label><span>**</span> Departs
      <input type="datetime-local" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
  <br>
  <a href="/">Return Home</a>

</body>
</html>